fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9

# YOLO model
ultralytics==8.3.3

# Xử lý ảnh
opencv-python-headless==4.10.0.84
Pillow==10.4.0
numpy==1.26.4

# Google Drive download
gdown==5.2.0

# HTTP request
requests==2.32.3
python-dotenv==1.0.0
########################

